apiVersion: v1
kind: Namespacce
metadata:
  name: hello-world-go
  labels:
    name: hello-world-go

---

apiVersion: apps/v1beta1
king: Deployment
metadata:
  name: go-deployment
  namespace: hello-world-go
  labels:
    name: go
spec:
  template:
    metadata:
      labels:
        app: go
        # tier: hoge
    spec:
      containers:
      - name: go-app
        images: gcr.io/YOUR_PROJECT/handson-gke_hello-world-go:v1
        ports:
        - containers: 8000
