apiVersion: v1
kind: Namespace
metadata:
  name: hello-world-mix
  labels:
    app: hello-world-mix

---

apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: mix-go-deployment
  namespace: hello-world-mix
  labels:
    app: mix
spec:
  replicas: 2
  template:
    metadata:
      labels:
        app: mix
    spec:
      containers:
      - name: mix-go-app
        image: gcr.io/YOUR_PROJECT/handson-gke_hello-world-go:v1
        ports:
        - containerPort: 5000

